<h1> Schools: </h1>
<% @schools.each do |school| %>
  <ul>
    <li> ID: <%= school.id %> </li>
    <li> UID: <%= school.uid %> </li>
    <li> Obese Percentage: <%= school.obese_percentage %> </li>
    <li> Overweight Percentage: <%= school.overweight_percentage %> </li>
    <%= link_to "destroy", school_path(school.id), method: :delete %>
  </ul>
<% end %>
